:root {
    --primary-color: rgb(254, 13, 0);
    --dark-color: black;
    --light-color: white;

}



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgba(82, 78, 78, 0.995);
}

h1,
h2,
p {
    color: #ffffff;
}

p {
    color: rgb(143, 141, 139);
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
    font-weight: bold;
    color: aliceblue;
}



#headercase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(images/1.jpg) no-repeat center center/cover;

}

#headercase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

}

#headercase2 {
    position: relative;
    height: 90px;
    z-index: 3;
}

#headercase2 img {
    width: 200px;
    position: absolute;
    top: 70%;
    transform: translate(40%, -50%)
}

#headercase2 a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-60%, -50%);
}

#showcase-content {
    position: relative;
    margin: 0 26%;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 9rem;
}

#showcase-content h1 {
    font-size: 64px;
    font-weight: 100;
    margin: 0 30px;
    max-width: 800px;
    line-height: 74.5px;

}

#showcase-content h2 {
    color: white;
    font-size: 25px;
    margin: 16px 0;
}

#showcase-content p {
    font-size: 19.2px;
    font-weight: 50;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#showcase-content input {
    position: absolute;
    left: -55px;
    bottom: -22%;
    width: 454px;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

#btn {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.04);
}

#btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

#showcase-content .btn-lg {

    padding: 0.5rem 1.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 36px;
    width: 225px;
    margin-right: -355px;
    margin-bottom: -58px;
    border-radius: 0;
}



#card {
    position: relative;
    display: inline-grid;
    grid-template-columns: 60% 50%;
    text-align: left;
    align-items: center;

}

#desc {
    padding-left: -55px;
}

#card img {
    width: 450px;

}

#desc h1 {
    padding-bottom: 25px;
    font-size: 45px;
    font-weight: 500;
}

#desc h3 {
    padding-bottom: 5px;
    font-size: 15px;
    color: rgba(194, 194, 195, 0.785);
}

#footer {
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}


#footer,
#footer a {
    color: #999999;
    font-size: 0.9rem;
}

#footer p {
    margin-bottom: 1.5rem;

}

#footer #footer1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

}

#footer1 ul {
    line-height: 2.4;
}